<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" 
	integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous">
	</script>
</head>
<body>
	<button onclick="moviesave">DB 저장</button>
	
</body>
<script type="text/javascript">
	const moviesave = () =>{
		const results= {	//키값 : '밸류값' -> Json타입  , "값" : "값" = X
			"backdrop_path": "https://image.tmdb.org/t/p/w1280/r7Dfg9aRZ78gJsmDlCirIIlNH3d.jpg",
			"id_num": 785084,
			"original_language": "en",
			"original_title": "The Whale",
			"overview": "272kg의 거구로 세상을 거부한 채 살아가는 대학 강사 찰리는 남은 시간이 얼마 없음을 느끼고 오랫동안 만나지 못한 10대 딸 엘리를 집으로 초대한다. 그리고, 매일 자신을 찾아와 에세이 한 편을 완성하면 전 재산을 주겠다고 제안한다.",
			"poster_path": "/q0xV5Lnq30JiegbVGBOvVwrgUDT.jpg",
			"release_date": "2023-03-01",
			"title": "더 웨일",
			"vote_count": 1165
		}
		$ajax({
			type:"post",		//이미지 가져오려면 post 방식
			url : "/movie/put",
			
			data : JSON.stringify(results),		//requestbody를 써서 data를 담아줌
			contentType : "application/json",
			
			success : function(result){
				console.log("요청 성공",result)
			},
			error : function(){
				console.log("실패")
			}
			
		})
	}

</script>
</html>